---
import Container from "@components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Federico Del Gaudio">
  <Container>
    <div class="mt-10">
      <h1 class="text-xl font-semibold">
        Hi, I'm Federico Del Gaudio, <br />a passionate Software Developer and
        Creative Coder.<br />
        I blend technology, design and art to build engaging digital solutions.
      </h1>
    </div>
  </Container>
</Layout>

<style></style>
