---
import Container from "@components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Federico Del Gaudio">
  <main>
    <Container />
  </main>
</Layout>

<style></style>
