---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Work">
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="pt-16 text-center">
        <h1 class="text-lg lg:text-xl font-bold lg:tracking-tight">
          Coming soon
        </h1>
      </div>
    </div>
  </Container>
</Layout>
