---
import Container from "./Container.astro";
---

<Container class="w-full">
  <footer class="text-black">
    <div class="grid grid-cols-2 w-full">
      <div class="w-full">
        <p class="text-sm">
          Copyright © {new Date().getFullYear()} | Federico Del Gaudio
        </p>
      </div>
      <div class="w-full">
        <p class="text-right text-sm">
          <a href="/privacy-policy" class="p-0 m-0">Privacy Policy</a>
        </p>
      </div>
    </div>
  </footer>
</Container>
